
Server {
com.sun.security.auth.module.Krb5LoginModule required
useKeyTab=true
storeKey=true
useTicketCache=false
keyTab="/keytabs/zookeeper.user.keytab"
principal="zookeeper/{{ ansible_hostname }}.{{ kdc_realm }}@{{ kdc_realm }}";
};
