[Unit]
Description = Confluent Platform: REST proxy
Documentation = http://www.confluent.io
After = network.target remote-fs.target nss-lookup.target confluent-kafka.service

[Service]
SyslogIdentifier = confluent-kafka-rest
User = confluent
Type = simple
ExecStart = /usr/bin/kafka-rest-start /etc/kafka-rest/kafka-rest.properties
Restart = on-failure
RestartSec = 10

[Install]
WantedBy = multi-user.target
