KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/keytabs/kafka.user.keytab"
    principal="kafka/{{ ansible_hostname }}.{{ kdc_realm }}@{{ kdc_realm }}";
};

// ZooKeeper client authentication
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/keytabs/zookeeper.user.keytab"
    principal="zookeeper/{{ ansible_hostname }}.{{ kdc_realm }}@{{ kdc_realm }}";
};
