KafkaServer {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/keytabs/kafka.user.keytab"
    principal="kafka@{{ kdc_realm }}";
};

// ZooKeeper client authentication
Client {
    com.sun.security.auth.module.Krb5LoginModule required
    useKeyTab=true
    storeKey=true
    keyTab="/keytabs/zookeeper.user.keytab"
    principal="zookeeper@{{ kdc_realm }}";
};
