# The id of the broker. This must be set to a unique integer for each broker.
broker.id={{ brokerid }}

delete.topic.enable=true

listeners=PLAINTEXT://{{ ansible_hostname }}.{{ kdc_realm }}:9092,SASL_PLAINTEXT://{{ ansible_hostname }}.{{ kdc_realm }}:9099
sasl.enabled.mechanisms=GSSAPI,PLAIN
sasl.mechanism.inter.broker.protocol=GSSAPI
security.inter.broker.protocol=SASL_PLAINTEXT

num.network.threads=2
num.io.threads=2
socket.send.buffer.bytes=102400
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600

zookeeper.set.acl=false

allow.everyone.if.no.acl.found=true
auto.create.topics.enable=false
super.users=User:kafka
sasl.kerberos.service.name=kafka

############################# Log Basics #############################
log.dirs=/var/lib/kafka
num.partitions=1
num.recovery.threads.per.data.dir=1

############################# Log Flush Policy #############################

#log.flush.interval.messages=10000
#log.flush.interval.ms=1000

############################# Log Retention Policy #############################

log.retention.hours=168
#log.retention.bytes=1073741824
log.segment.bytes=1073741824
log.retention.check.interval.ms=300000

############################# Zookeeper #############################

zookeeper.connect={{ zkConnect }}
zookeeper.connection.timeout.ms=6000

##################### Confluent Metrics Reporter #######################

#metric.reporters=io.confluent.metrics.reporter.ConfluentMetricsReporter
#confluent.metrics.reporter.bootstrap.servers=localhost:9092
#confluent.metrics.reporter.zookeeper.connect=localhost:2181
#
# Uncomment the following line if the metrics cluster has a single broker
#confluent.metrics.reporter.topic.replicas=1

##################### Confluent Proactive Support ######################

confluent.support.metrics.enable=true
confluent.support.customer.id=anonymous
